* {
  margin: 0px;
}
html {
  font-family: "Jost", sans-serif;
  font-size: 62.5%;
}

/**nav stylings**/

.navbar {
  background-color: #f6f6e9;
}

.nav-item {
  font-size: 1.5rem;
  font-family: "Jost", sans-serif;
  margin: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link {
  color: #291b25;
  text-decoration: none;
}

/**end nav styles**/

.sections-header-text {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  color: #291b25;
}

/**hero stylings**/
.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f6e9;
  background-image: url(images/portfolio-overlay-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 80px;
}

.hero-image {
  margin: 0 0 0 10%;
}
.hero-text h2 {
  font-family: "Pacifico", cursive;
  font-size: 4.5rem;
  color: #291b25;
}

.hero-text p {
  font-size: 2rem;
  font-family: "Jost", sans-serif;
}

/* button styles*/

.learn-more {
  margin: 1rem 0;
  padding: 1.5rem 1.7rem;
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(237, 91, 53);
  border: 1px solid rgba(237, 91, 53);
  cursor: pointer;
}

/*end button styles*/

@media screen and (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-image img {
    width: 500px;
    height: 500px;
    align-self: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-text h2,
  p {
    text-align: center;
  }
}

/**end header styles**/

/**start skills styles**/

.skills-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #ffe2e6;
  padding: 8% 0% 5% 0%;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffe2e6;
  padding-bottom: 13%;
  background-image: url(images/portfolio-overlay-skills-462px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 1.5rem 1.5rem;
}
.icons {
  font-size: 5rem;
  padding: 1.5rem;
  color: #291b25;
}

.icons-label {
  font-size: 1.5rem;
  align-self: center;
  margin: 1.5rem;
  letter-spacing: 1px;
  font-family: "Jost", sans-serif;
}

@media screen and (max-width: 720px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/**projects section styles**/

.projects-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #f6f6e9;
  padding: 8% 0% 5% 0%;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6f6e9;
  padding-bottom: 13%;
  background-image: url(images/portfolio-overlay-4.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.projects-row-1,
.projects-row-2 {
  display: flex;
  flex-direction: row;
}

.card {
  width: 35rem;
  margin: 1.5rem;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.5rem;
  text-align: left;
}

#card-button-1,
#card-button-2,
#card-button-3 {
  background-color: #ed5b35;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border: 1px solid #ed5b35;
  border-radius: 0px;
  padding: 1rem 1.3rem;
}

.btn-icons {
  font-size: 1.5rem;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .projects-row-1,
  .projects-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

/*Contact Form Style*/

.contact-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #f6b9a1;
  padding: 8% 0% 5% 0%;
}

.contact-form {
  background-color: #f6b9a1;
  padding: 0% 20% 10% 20%;
  background-image: url(images/portfolio-overlay-contact-462px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

input.form-control,
textarea.form-control {
  padding: 1.5rem;
  border-radius: 0px;
  font-size: 1.5rem;
}

input.form-control::placeholder {
  color: gray;
}

textarea {
  color: gray;
}

.label {
  display: none;
}

.form-group {
  margin: 1.5rem 0rem;
}

#contactbutton {
  background-color: #8aa59e;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  border: 1px solid #8aa59e;
  border-radius: 0px;
  padding: 1rem 1.3rem;
}

/*footer styles*/

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #291b25;
  padding: 1.5rem 1.5rem;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.copyright p {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
