* {
  margin: 0px;
  font-size: 62.5%;
}

html {
  font-family: "Montserrat", sans-serif;
}

/**nav stylings**/
.nav {
  display: flex;
  flex-direction: column;
  background-color: #f6f6e9;
  align-items: center;
}

.navbar ul {
  padding: 0;
  text-align: center;
}
.navlinks li {
  list-style: none;
  margin: 15px;
}

.navlinks li a {
  color: #291b25;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navlinks li {
    display: inline-block;
    margin: 15px;
  }
}

/***hero stylings**/

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6e9;
}

.hero-image {
  margin: 0 0 0 10%;
}
.hero-text h2 {
  font-family: "Asset", cursive;
  font-size: 4.5rem;
}

.hero-text p {
  font-size: 2rem;
}

.btn-container {
  display: flex;
  position: relative;
  width: 200px;
  height: 5rem;
}

.btn-learn-more {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 20px 0px;
  padding: 10px 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: Transparent;
  border: 2px solid rgba(41, 27, 37, 1);
  display: inline-block;
  cursor: pointer;
}

.btn-shadow {
  top: 30%;
  left: 3%;
  position: absolute;
  background-color: rgba(237, 91, 53, 1);
  display: inline-block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-image img {
    width: 500px;
    height: 500px;
  }

  .hero-text h2 {
    text-align: center;
  }
}
