* {
  margin: 0px;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

/**nav stylings**/
.nav {
  display: flex;
  flex-direction: column;
  background-color: #f6f6e9;
  align-items: center;
}

.navbar ul {
  padding: 0;
  text-align: center;
}
.navlinks li {
  list-style: none;
  margin: 15px;
}

.navlinks li a {
  color: #291b25;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navlinks li {
    display: inline-block;
    margin: 15px;
  }
}

/**end nav styles**/

/**hero stylings**/
.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f6e9;
}

.hero-image {
  margin: 0 0 0 10%;
}
.hero-text h2 {
  font-family: "Purple Purse", cursive;
  font-size: 4.5rem;
  font-color: #291b25;
}

.hero-text p {
  font-size: 2rem;
}
/* button styles*/

.learn-more {
  margin: 2rem 0;
  padding: 1.5rem 1.7rem;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(237, 91, 53);
  border: 1px solid rgba(237, 91, 53);
  cursor: pointer;
}

/*end button styles*/

@media screen and (max-width: 720px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-image img {
    width: 500px;
    height: 500px;
    align-self: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-text h2,
  p {
    text-align: center;
  }
}

/**end header styles**/

/**start skills styles**/

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(253, 245, 243);
  padding: 10% 0%;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 1.5rem 1.5rem;
}
.icons {
  font-size: 4rem;
  padding: 1.5rem;
  color: #291b25;
}

.progress {
  font-size: 1.5rem;
  align-self: center;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  width: 15rem;
}

progress[value]::-webkit-progress-value {
  background-color: #61a6ab;
  border-radius: 0px;
}

progress[value]::-webkit-progress-bar {
  background-color: #ccc;
  border-radius: 0px;
}

@media screen and (max-width: 720px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/**projects section styles**/

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10% 0%;
  background-color: #f6b9a1;
}

.projects-row-1 {
  display: flex;
  flex-direction: row;
}

.card {
  width: 35rem;
  margin: 1.5rem;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.5rem;
}

.btn {
  font-size: 2.5rem;
}
